body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: calc(100vw / 7.5);
}

body {
  font-size: 0.24rem;
}
